.color {
  border: 1px solid black;
  display: inline-block;
  border-radius: 25%;
  height: 50px;
  width: 50px;
}

#pixel-board {
  width: 210px;
  height: 200px;
  display: inline-block;
   
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  
}

#color-black {
  background-color: black;

}

#color-pink {
  background-color: deeppink;  
}

#color-purple {
  background-color: purple;  
}

#color-blue {
  background-color: blue;
}