.color {
  border: 1px solid black;
  display: inline-block;
  border-radius: 25%;
  height: 50px;
  width: 50px;
}

.pixel {
  background-color: white;
}

#color-black {
  background-color: black;

}

#color-pink {
  background-color: deeppink;  
}

#color-purple {
  background-color: purple;  
}

#color-blue {
  background-color: blue;
}